@model projBCC2.Models.Revenda

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Revenda</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="clienteid" class="control-label"></label>
                <select asp-for="clienteid" class="form-control" asp-items="ViewBag.clienteid"></select>
                <span asp-validation-for="clienteid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="compraid" class="control-label"></label>
                <select asp-for="compraid" class="form-control" asp-items="ViewBag.compraid"></select>
                <span asp-validation-for="compraid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="data" class="control-label"></label>
                <input asp-for="data" class="form-control" />
                <span asp-validation-for="data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="quantidadeVenda" class="control-label"></label>
                <input asp-for="quantidadeVenda" class="form-control" />
                <span asp-validation-for="quantidadeVenda" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
