@model projBCC2.Models.Transacao

@{
    ViewData["Title"] = "Registro de Transações";
}

<h1>Menu de Registro de Transações</h1>

<h4>Insira os dados Abaixo para Registrar Transação.</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="contaid" class="control-label"></label>
                <select asp-for="contaid" class ="form-control" asp-items="ViewBag.contaid"></select>
            </div>
            <div class="form-group">
                <label asp-for="data" class="control-label"></label>
                <input asp-for="data" class="form-control" />
                <span asp-validation-for="data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="quantidade" class="control-label"></label>
                <input asp-for="quantidade" class="form-control" />
                <span asp-validation-for="quantidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="valor" class="control-label"></label>
                <input asp-for="valor" class="form-control" />
                <span asp-validation-for="valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="operacao" class="control-label"></label>
                <select asp-for="operacao" class="form-control"></select>
                <span asp-validation-for="operacao" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary" /> |
                <a asp-action="Index" class="btn btn-light">Retornar</a>
            </div>
            </br>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
